.container {
    margin: 20 px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.blue {
    background-color: #e6f2ff;
    padding: 10px;
}
.cont {
    background-color:#e6f2ff;
}